# This is Git's per-user configuration file.
[core]
      editor = vim

[user]
	name = Michelle Saad
	email = git@michsa.me

[alias]
	pl = pull
	pls = !git stash && git pl && git stash pop
	sync = !bash -c '[[ $1 && $1 != $(git bname) ]] && (git co $1 && git pl && git co - && git merge $1) || git pl' --
	syncd = !git sync develop
	syncm = !git sync master
	syncr = !bash -c '[[ $1 && $1 != $(git bname) ]] && (git co $1 && git pl --ff-only && git co - && git rebase $1) || git pl --rebase' --
	syncrd = !git syncr develop
	syncrm = !git syncr master
	co = checkout
	cof = !git checkout feature/$1 && :
	cod = checkout develop
	com = checkout master
	boops = !git branch $1 && git reset --hard HEAD~$(git ahead) && git co

	# useful info for piping into other stuff
	bname = symbolic-ref --short HEAD
	me = config --get user.name
	ahead = !bash -c 'git rev-list --count origin/${1:-$(git bname)}...${1:-$(git bname)}' --
	
	# logging
	s = status
	b = branch
	l = log --oneline --graph
	logb = !git log --first-parent $(git bname)
	logm = !git log --author=\"$(git me)\"
	logbm = !git log --first-parent $(git bname) --author=\"$(git me)\"
	lb = !git l --first-parent $(git bname)
	lm = !git l --author=\"$(git me)\"
	lbm = !git l --first-parent $(git bname) --author=\"$(git me)\"
	# unpushed
	lognp = log @{u}..
	lnp = !git l @{u}..
	# divergence
	ld = !git fetch && git l --left-right --cherry-pick $(git bname)...origin/$(git bname) && :
	
	# add, commit, and push
	a = add
	c = commit
	ac = !git a . && git c
	ca = !git c --amend --no-edit
	cae = !git c --amend
	aca = !git a . && git ca
	acae = !git a . && git cae
	p = push
	pu = !git p -u origin HEAD
	pf = !git p --force-with-lease
	pff = !git p --force
	puf = !git pu --force-with-lease
	puff = !git pu --force
	pn = !git p --no-verify
	pun = !git pu --no-verify
	pfn = !git pf --no-verify
	acp = !git a . && git c -m `$1` && git p && :
	acpf = !git ac && git pf
	capf = !git ca && git pf
	acapf = !git aca && git pf
	
	# resetting stuff
	clear = checkout -- .
	unstage = reset HEAD --
	pop = reset HEAD~

	# rebase & merge
	m = merge
	r = rebase
	ri = !git r -i
	rc = !git r --continue
	ra = !git r --abort
	rs = !git r --skip
	mc = !git m --continue
	ma = !git m --abort

# TODO
# something for stash would be nice

# I don't remember where this came from, but whatever
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
